@import "tailwindcss";

@font-face {
    font-family: "Tournedos Lite";
    src: url("/fonts/Tournedos Lite.otf") format("opentype");
}

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-tournedos: "Tournedos Lite", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
